div#slideController{
	margin: 10%;
	width: 80%;
	height: 300px;
}

#slideController div#previous{
	position: relative;
	float: left;
	width: 5%;
	height: 100%;
	background-color: #999999;
}

#slideController div#next{
	position: relative;
	float: right;
	width: 5%;
	height: 100%;
	background-color: #999999;
}

#slideController div#window{
	background-color: #CCCCCC;
	width: 100%;
	height: 100%;
}

#slideController div#belt{
	position: relative;
	top: 5%;
	left: 7%;
	padding: 1%;
	padding-right: 11%;
	width: 75%;
	height: 84%;
	background-color: #FFFFFF;
	border: black solid 1px;
}

#slideController div#tiles{
	height: 100%;
	width:auto;
}

div.tile{
	position: relative;
	float: right;
	width: 20%;
	height: 99%;
	border: black solid 1px;
	margin-left:2%;
}

.tile img{
	width: 100%;
	height: 97%;
	position: relative;
}
